Screenshot[[:space:]]2020-03-02[[:space:]]at[[:space:]]11.18.15.png filter=lfs diff=lfs merge=lfs -text
Screenshot[[:space:]]2020-03-02[[:space:]]at[[:space:]]11.19.02.png filter=lfs diff=lfs merge=lfs -text
Screenshot[[:space:]]2020-03-02[[:space:]]at[[:space:]]11.19.19.png filter=lfs diff=lfs merge=lfs -text
Screenshot[[:space:]]2020-03-02[[:space:]]at[[:space:]]11.20.05.png filter=lfs diff=lfs merge=lfs -text
